div{
border: none !important;
background-color: #248286 !important;
}
body{
  background-color: #248286;
}
form{
  width:70%;
  height: 100%;
  border: 2px solid #3a3a3a ;
  background-color: #248286;
}
input{
  border: 1px solid #3a3a3a !important;
  text-align: center;
}
.BordeDiv{
  height: 100%;
  width: 90%;
}
.BordeLetras{
  height: 100%;
  width: 90%;
}
.button{
  width: 20%;
  background-color: #7A7A7A !important;
  font-weight: bold !important;
  color: white !important;
}
h3{
  color:white;
}
